@charset "UTF-8";

*, ::after, ::before{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body ::before{
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #EEEEEE;
}
main{
    width: 100%;
    margin: 3.1215rem auto 0 auto;
}
#header{
    overflow: hidden;
    float: right;
}
#div-header a{
    color: black;
    text-align: center;
    padding: 15px 16px;
}
.nav-link{
    margin: 15px;
    text-decoration: none;
    color: black;   
}
#form{
    margin-top: 25px;
}
#emailform{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 200px;

}
#email{
    width: 100%;
    display: block;
    color: gray;
    height: 35px;
    width: 275px;
}
#email input{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
}
.btn{
    padding: 0 20px;
   background-color: yellow;
   margin-top: 15px;
   width: 100%;
   max-width: 150px;
   height: 30px;
   border-radius: 2px;
   font-weight: 900;
   cursor: pointer;
   transition-duration: 500s;
}
 #emailform .btn:hover {
    background-color: green;
}

