@charset "UTF-8";


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}
li, a, h2{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
}
#header-img{
    width: 300px;
    margin-right: auto;
    margin-left: 0;
    height: 30px;
}
#nav-bar li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
#nav-bar li a{
    transition: all 0.3s ease 0s;
}
#nav-bar li a:hover{
    color: blueviolet;
}
#emailform{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 25px;

}
#emailform p{
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
    font-size:larger
}
#email{
    width: 275px;
    height: 30px;
    padding-left: 5px;
    border-radius: 2px;
    border: 1px solid gray;
    box-shadow: inset 0px 0px 2px black;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 226, 37, 1);
    cursor: pointer;
    height: 30px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-radius: 2px;
    transition: all 0.01s ease-in 0s;
    font-weight: bold;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}
.btn:hover{
    background-color: rgba(240, 163, 20, 1);
}
.grid{
    display: flex;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    color: darkorange;
}
.material-icons{
    display: inline-block;
    font-style: normal;
    font-weight: 900;
    font-size: 3em;
    margin: 0 50px;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200;
}
#howitworks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
#howitworks > iframe{
    max-width: 560px;
    width: 100%;
}
#pricing{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 60px;
}
#price{
    border: 1px solid black;
    text-align:center;
    line-height: 1.5em;
    width: 300px;
    border-radius: 5px;
    margin: 0 10px;
}
#price h1{
    background-color: rgba(128, 128, 128, 0.425);
    padding: 5px;
}
#price h2{
    padding: 5px;
}
#price p{
    text-align:center
}
#btnprice{
    margin: 5px;
    padding: 5px;
}
#btn3{
    width: 90px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: rgba(255, 166, 0, 1);
    font-size: 1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.01s ease-in 0s;
}
#btn3:hover{
    transition: all 0.01s ease-in 0s;
    background-color: rgba(185, 122, 5, 1);
    color: black;
}
footer{
    text-decoration: none;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.295);
    padding: 20px 0;
}
footer ul{
    display: flex;
    justify-content: flex-end;
}
footer li, a{
    list-style: none;
    padding: 0 5px;
    margin-right: 5px;
    font-weight: bold;
}
footer > span{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}